/* styles all thigs on the website */
* {
  /* sets margins to 0 */
  margin: 0%;
  /* sets margins to 0 */
  padding: 0%;
  /* sets the fonts for the website */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* styles the logo */
#logo {
  /* moves the logo left */
  float: left;
  /* sets the width to 87 pixels */
  width: 87px;
  /* sets the height to 102.8 pixels */
  height: 102.8px;
  /*  sets the margin on the left to 1%, the margin on the right to 0,
      the margin on the bottom to 0 and the margin on the left to 2% 
  */
  margin: 1% 0 0% 2%;
}

/* styles the header */
header {
  /* sets the background to a dark grey */
  background: #121212;
  /* sets the text colour to a light grey */
  color: #ebebeb;
}

/* styles the h1 */
h1 {
  /* sets the text colour to a light grey */
  color: #ebebeb;
  /* aligns the text to the center of the container */
  text-align: center;
  /* defines the size of the text as 46 pixels */
  font-size: 46px;
  /* sets padding on all sides to 4% */
  padding: 4%;
  /*  sets the margin on the top and bottom to 0 and the margin on the left and right to 20%
  */
  margin: 0 20%;
}

/* styles the h2 */
h2 {
  /* aligns the text to the center of the container */
  text-align: center;
  /* sets the text size to 26 pixels */
  font-size: 26px;
}

/* styles the h2 ID */
#h2-style {
  /*  sets the margin on the top and bottom to 0 and the margin on the left and right to automatically
      have even margins
  */
  margin: 0 auto;
  /* sets the width to fit the container */
  width: fit-content;

  /* adds 2% margin to the top */
  margin-top: 2%;
  /* adds 0.5% margin to the bottom */
  margin-bottom: 0.5%;
}

/* styles the html */
html {
  /* defines the block size in the webpage to 100% */
  block-size: 100%;
  /* defines the inline size in the webpage to 100% */
  inline-size: 100%;
}

/* styles the un-ordered list inside the navigation bar */
nav > ul {
  /* makes the items in the nav flexible containers */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  /* adds space between links */
  justify-content: space-between;
  /* sets width of the un-ordered list to 100% */
  width: 100%;
  /* sets the background colour to light grey */
  background-color: #fffbdb;
}

/* styles the nav link class when hovered/focused on */
.nav-link:link,
.nav-link:visited {
  /* sets the background colour to a dark grey */
  background-color: #121212;
  /* sets the text colour to a light grey */
  color: #ebebeb;
  /* ensures that there is no text decoration */
  text-decoration: none;
  /* sets the text size to 24 pixels */
  font-size: 24px;
  /* aligns the text to the center of the container */
  text-align: center;
  /* displays the links as block elements */
  display: block;
  /* adds 15 pixels of padding to the top and bottom and adds 0 padding to the left and right */
  padding: 15px 0;
  /* 
    calculates the width of the screen and divides it by 8 (number of webpages)
    then it leaves 2.5 pixels of space between links
  */
  width: calc(calc(100% / 8) - 2.5px);
  /* adds 2.5 pixels of margin to the top */
  margin-top: 2.5px;
  /* sets the links to not have any list styling */
  list-style-type: none;
  /* 
  defines the tansition details of the transition
  1. name of transition
  2. delay of the transition
  3. type of transition 
*/
  -o-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

/* styles the class when being hovered/focused on */
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  /* sets the text to have an underline */
  text-decoration: underline;

  /* adds a solid outline with the colour of gold thats 3px thick */
  outline: #d7bb00 solid 3px;

  /* sets the transform type and details */
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* styles the anchor tags */
a {
  /* sets all links to not have any text decoration */
  text-decoration: none;
}

/* styles things when the screen size gets below 1040 pixels */
@media (max-width: 1040px) {
  /* styles the logo */
  #logo {
    /* sets the width to 73.5 pixels */
    width: 73.5px;
    /* sets the height to 81.4 pixels */
    height: 81.4px;
  }
}

/* styles things when the screen size gets below 940 pixels */
@media (max-width: 940px) {
  /* styles the logo */
  #logo {
    /* sets the margin on the left to be 5% */
    margin-left: 5%;
    /* sets the margin on the top to be 1% */
    margin-top: 1%;
  }

  /* styles the un-ordered list in the navigation bar  */
  nav > ul {
    /* sets the un-ordered list to be flexible containers */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    /* wraps the content to the next line */
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* styles the navigation links */
  .nav-link:visited,
  .nav-link:link {
    /* aligns the text to the center of the container */
    text-align: center;
    /* calculates the width of the screen and divides it by 4 
      then it leaves 2.5 pixels of space between links
    */
    width: calc(calc(100% / 4) - 2.5px);
    /* adds 1% padding to the top and bottom and adds 0 to the right and left */
    padding: 1% 0;
    /* sets the text size to be 20 pixels */
    font-size: 20px;
  }

  /* styles the navigation bar */
  nav {
    /* sets the position to be relative */
    position: relative;
  }
}

/* styles the body */
body {
  /* sets the background to be a light yellow */
  background-color: #fffbdb8f;
  /* sets the margins on all sides to be 3 pixels */
  margin: 3px;
  /* sets the text colour to be a dark grey */
  color: #121212;
}

/* styles the reveal animation */
.block-reveal {
  /* calculates variable --t */
  --t: calc(var(--td) + var(--d));

  /* sets the colour to transparent */
  color: transparent;

  /* sets the position to relative */
  position: relative;
  /* if anything overflows it is hidden */
  overflow: hidden;

  /* defines the animation details */
  animation: revealBlock 0s var(--t) forwards;
}

/* styles the reveal animation after its done */
.block-reveal::after {
  /* inserts generated content */
  content: "";

  /* sets the width to 0% of the screen */
  width: 0%;
  /* sets the height to 100% of the screen */
  height: 100%;
  /* adds 4 pixels  */
  padding-bottom: 4px;

  /* sets the position to be absolute */
  position: absolute;
  /* sets top to be at 0 */
  top: 0;
  /* sets left to be at 0 */
  left: 0;

  /* sets background to be variable --bc */
  background: var(--bc);
  /* defines animation details */
  animation: revealingIn var(--td) var(--d) forwards,
    revealingOut var(--td) var(--t) forwards;
}

@keyframes revealBlock {
  100% {
    color: #121212;
  }
}

@keyframes revealingIn {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

#back-to-top {
  position: fixed;
  left: 5px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 25px;

  background: -o-radial-gradient(#121212, #1f1f1f);
  background: -moz-radial-gradient(#121212, #1f1f1f);
  background: -webkit-radial-gradient(#121212, #1f1f1f);
  background: radial-gradient(#121212, #1f1f1f);
  color: whitesmoke;
  text-shadow: 0px 1px 1px #121212, 0px 1.5px 1px #121212;
  text-decoration: none;
  text-align: center;
}

#contact {
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 50px;
  border-radius: 25px;

  background: -o-radial-gradient(#121212, #1f1f1f);
  background: -moz-radial-gradient(#121212, #1f1f1f);
  background: -webkit-radial-gradient(#121212, #1f1f1f);
  background: radial-gradient(#121212, #1f1f1f);
  color: whitesmoke;
  text-shadow: 0px 1px 1px #121212, 0px 1.5px 1px #121212;
  text-decoration: none;
  text-align: center;
}

footer {
  padding: 4vh 10% 6vh 10%;

  background: #121212;
  color: #ebebeb;
  font-size: 20px;
}

#social {
  display: flex;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 50%;
}

footer > p {
  float: right;
  display: flex;
  text-align: center;
  margin-right: 50%;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
