/* styles all thigs on the website */
* {
  /* sets margins to 0 */
  margin: 0%;
  /* sets margins to 0 */
  padding: 0%;
  /* sets the fonts for the website */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* styles the logo */
#logo {
  /* moves the logo left */
  float: left;
  /* sets the width to 108.75 pixels */
  width: 108.75px;
  /* sets the height to 128.5 pixels */
  height: 128.5px;
  /*  sets the margin on the left to 1%, the margin on the right to 0,
      the margin on the bottom to 0 and the margin on the left to 2% 
  */
  margin: 1% 0 0% 2%;
}

/* styles the header */
header {
  /* sets the background to a dark grey */
  background: #121212;
  /* sets the text colour to a light grey */
  color: #ebebeb;
}

/* styles the h1 */
h1 {
  /* sets the text colour to a light grey */
  color: #ebebeb;
  /* aligns the text to the center of the container */
  text-align: center;
  /* defines the size of the text as 46 pixels */
  font-size: 46px;
  /* sets padding on all sides to 4% */
  padding: 4%;
  /*  sets the margin on the top and bottom to 0 and the margin on the left and right to 20%
  */
  margin: 0 20%;
}

/* styles the h2 */
h2 {
  /* aligns the text to the center of the container */
  text-align: center;
  /* sets the text size to 26 pixels */
  font-size: 26px;
}

/* styles the h2 ID */
#h2-style {
  /*  sets the margin on the top and bottom to 0 and the margin on the left and right to automatically
      have even margins
  */
  margin: 0 auto;
  /* sets the width to fit the container */
  width: fit-content;

  /* adds 2% margin to the top */
  margin-top: 2%;
  /* adds 0.5% margin to the bottom */
  margin-bottom: 0.5%;
}

/* styles the html */
html {
  /* defines the block size in the webpage to 100% */
  block-size: 100%;
  /* defines the inline size in the webpage to 100% */
  inline-size: 100%;
}

/* styles the un-ordered list inside the navigation bar */
nav > ul {
  /* makes the items in the nav flexible containers */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  /* adds space between links */
  justify-content: space-between;
  /* sets width of the un-ordered list to 100% */
  width: 100%;
  /* sets the background colour to light grey */
  background-color: #fffbdb;
}

/* styles the nav link class when hovered/focused on */
.nav-link:link,
.nav-link:visited {
  /* sets the background colour to a dark grey */
  background-color: #121212;
  /* sets the text colour to a light grey */
  color: #ebebeb;
  /* ensures that there is no text decoration */
  text-decoration: none;
  /* sets the text size to 24 pixels */
  font-size: 24px;
  /* aligns the text to the center of the container */
  text-align: center;
  /* displays the links as block elements */
  display: block;
  /* adds 15 pixels of padding to the top and bottom and adds 0 padding to the left and right */
  padding: 15px 0;
  /* 
    calculates the width of the screen and divides it by 8 (number of webpages)
    then it leaves 2.5 pixels of space between links
  */
  width: calc(calc(100% / 8) - 2.5px);
  /* adds 2.5 pixels of margin to the top */
  margin-top: 2.5px;
  /* sets the links to not have any list styling */
  list-style-type: none;
  /* 
  defines the tansition details of the transition
  1. name of transition
  2. delay of the transition
  3. type of transition 
*/
  -o-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

/* styles the class when being hovered/focused on */
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  /* sets the text to have an underline */
  text-decoration: underline;

  /* adds a solid outline with the colour of gold thats 3px thick */
  outline: #d7bb00 solid 3px;

  /* sets the transform type and details */
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* styles the anchor tags */
a {
  /* sets all links to not have any text decoration */
  text-decoration: none;
}

/* styles things when the screen size gets below 1225 pixels */
@media (max-width: 1225px) {
  /* styles the logo */
  #logo {
    /* sets the width to 96.7 pixels */
    width: 96.7px;
    /* sets the height to 114.3 pixels */
    height: 114.3px;
  }
}

/* styles things when the screen size gets below 975 pixels */
@media (max-width: 975px) {
  /* styles the logo */
  #logo {
    /* sets the margin on the left to be 5% */
    margin-left: 5%;
    /* sets the margin on the top to be 1.5% */
    margin-top: 1.5%;

    /* sets the width to 72.5 pixels */
    width: 72.5px;
    /* sets the height to 85.7 pixels */
    height: 85.7px;
  }

  /* styles the un-ordered list in the navigation bar  */
  nav > ul {
    /* sets the un-ordered list to be flexible containers */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    /* wraps the content to the next line */
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* styles the navigation links */
  .nav-link:visited,
  .nav-link:link {
    /* aligns the text to the center of the container */
    text-align: center;
    /* calculates the width of the screen and divides it by 4 
      then it leaves 2.5 pixels of space between links
    */
    width: calc(calc(100% / 4) - 2.5px);
    /* sets the text size to be 20 pixels */
    font-size: 20px;
  }

  /* styles the navigation bar */
  nav {
    /* sets the position to be relative */
    position: relative;
  }
}

/* styles things when the screen size gets below 530 pixels */
@media (max-width: 530px) {
  /* styles the h1 */
  h1 {
    /* sets the margin to be 0 */
    margin: 0;
    /* sets the padding on the top to be 7% */
    padding-top: 7%;
    /* sets the padding on the bottom to be 7% */
    padding-bottom: 7%;
  }

  /* styles the logo */
  #logo {
    /* sets the margin on the left to be 5% */
    margin-left: 5%;
    /* sets the margin on the top to be 3% */
    margin-top: 3%;

    /* sets the width to 72.5 pixels */
    width: 72.5px;
    /* sets the height to 85.7 pixels */
    height: 85.7px;
  }
}

/* styles the body */
body {
  /* sets the background to be a light yellow */
  background-color: #fffbdb8f;
  /* sets the margins on all sides to be 3 pixels */
  margin: 3px;
  /* sets the text colour to be a dark grey */
  color: #121212;
}

/* styles the reveal animation */
.block-reveal {
  /* calculates variable --t */
  --t: -webkit-calc(var(--td) + var(--d));
  --t: -moz-calc(var(--td) + var(--d));
  --t: calc(var(--td) + var(--d));

  /* sets the colour to transparent */
  color: transparent;

  /* sets the position to relative */
  position: relative;
  /* if anything overflows it is hidden */
  overflow: hidden;

  /* defines the animation details */
  -webkit-animation: revealBlock 0s var(--t) forwards;
  -moz-animation: revealBlock 0s var(--t) forwards;
  -o-animation: revealBlock 0s var(--t) forwards;
  animation: revealBlock 0s var(--t) forwards;
}

/* styles the reveal animation after its done */
.block-reveal::after {
  /* inserts generated content */
  content: "";

  /* sets the width to 0% of the screen */
  width: 0%;
  /* sets the height to 100% of the screen */
  height: 100%;
  /* adds 4 pixels  */
  padding-bottom: 4px;

  /* sets the position to be absolute */
  position: absolute;
  /* sets top to be at 0 */
  top: 0;
  /* sets left to be at 0 */
  left: 0;

  /* sets background to be variable --bc */
  background: var(--bc);
  /* defines animation details */
  -webkit-animation: revealingIn var(--td) var(--d) forwards,
    revealingOut var(--td) var(--t) forwards;
  -moz-animation: revealingIn var(--td) var(--d) forwards,
    revealingOut var(--td) var(--t) forwards;
  -o-animation: revealingIn var(--td) var(--d) forwards,
    revealingOut var(--td) var(--t) forwards;
  animation: revealingIn var(--td) var(--d) forwards,
    revealingOut var(--td) var(--t) forwards;
}

/* defines the state of the frames in the animation */
@-webkit-keyframes revealBlock {
  /* when at 100%, the reveal is a dark grey */
  100% {
    color: #121212;
  }
}
@-moz-keyframes revealBlock {
  /* when at 100%, the reveal is a dark grey */
  100% {
    color: #121212;
  }
}
@-o-keyframes revealBlock {
  /* when at 100%, the reveal is a dark grey */
  100% {
    color: #121212;
  }
}
@keyframes revealBlock {
  /* when at 100%, the reveal is a dark grey */
  100% {
    color: #121212;
  }
}

/*
  Website made entirely by Tyson Robinson
*/

/* defines the state of the frames in the animation */
@-webkit-keyframes revealingIn {
  /* when at 0% of the animation, the width of the reveal is 0 */
  0% {
    width: 0;
  }

  /* when at 100% of the animation, the width of the reveal is 100% */
  100% {
    width: 100%;
  }
}
@-moz-keyframes revealingIn {
  /* when at 0% of the animation, the width of the reveal is 0 */
  0% {
    width: 0;
  }

  /* when at 100% of the animation, the width of the reveal is 100% */
  100% {
    width: 100%;
  }
}
@-o-keyframes revealingIn {
  /* when at 0% of the animation, the width of the reveal is 0 */
  0% {
    width: 0;
  }

  /* when at 100% of the animation, the width of the reveal is 100% */
  100% {
    width: 100%;
  }
}
@keyframes revealingIn {
  /* when at 0% of the animation, the width of the reveal is 0 */
  0% {
    width: 0;
  }

  /* when at 100% of the animation, the width of the reveal is 100% */
  100% {
    width: 100%;
  }
}

/* defines the state of the frames in the animation */
@-webkit-keyframes revealingOut {
  /* when at 0% of the animation, the position change of x in the reveal is 0 */
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  /* when at 100% of the animation, the position change of x in the reveal is 100% */
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-moz-keyframes revealingOut {
  /* when at 0% of the animation, the position change of x in the reveal is 0 */
  0% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }

  /* when at 100% of the animation, the position change of x in the reveal is 100% */
  100% {
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-o-keyframes revealingOut {
  /* when at 0% of the animation, the position change of x in the reveal is 0 */
  0% {
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* when at 100% of the animation, the position change of x in the reveal is 100% */
  100% {
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes revealingOut {
  /* when at 0% of the animation, the position change of x in the reveal is 0 */
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* when at 100% of the animation, the position change of x in the reveal is 100% */
  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

/* styles the back to top section */
#back-to-top {
  /* sets the position to be fixed in place */
  position: fixed;
  /* sets left to be 5 pixels */
  left: 5px;
  /* sets bottom to be 5 pixels */
  bottom: 5px;

  /* sets the section to be a flexible container */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  /* sets the items in the section to be in the center of the section */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  /* sets the items in the section to be in the center of the section */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  /* sets the width to be 50 pixels */
  width: 50px;
  /* sets the height to be 50 pixels */
  height: 50px;
  /* sets the border radius to 25 pixels */
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;

  /* sets the background to a radial gradient that is a dark grey */
  background: -o-radial-gradient(#121212, #1f1f1f);
  background: -moz-radial-gradient(#121212, #1f1f1f);
  background: -webkit-radial-gradient(#121212, #1f1f1f);
  background: radial-gradient(#121212, #1f1f1f);
  /* sets the text colour to a light grey */
  color: #ebebeb;
  /* defines that there is no text decoration */
  text-decoration: none;
  /* aligns the text to the center of the container */
  text-align: center;
}

/* styles the back to top section */
#contact {
  /* sets the position to be fixed in place */
  position: fixed;
  /* sets right to be 5 pixels */
  right: 5px;
  /* sets bottom to be 5 pixels */
  bottom: 5px;

  /* sets the section to be a flexible container */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  /* sets the items in the section to be in the center of the section */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  /* sets the items in the section to be in the center of the section */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  /* sets the width to be 100 pixels */
  width: 100px;
  /* sets the height to be 50 pixels */
  height: 50px;
  /* sets the border radius to 25 pixels */
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;

  /* sets the background to a radial gradient that is a dark grey */
  background: -o-radial-gradient(#121212, #1f1f1f);
  background: -moz-radial-gradient(#121212, #1f1f1f);
  background: -webkit-radial-gradient(#121212, #1f1f1f);
  background: radial-gradient(#121212, #1f1f1f);
  /* sets the text colour to a light grey */
  color: #ebebeb;
  /* defines that there is no text decoration */
  text-decoration: none;
  /* aligns the text to the center of the container */
  text-align: center;
}

/* styles the footer */
footer {
  /*  
    adds margin: 4 view height on the top, 10% on the right,
    6 view height on the bottom, 10% on the left 
  */
  padding: 4vh 10% 6vh 10%;

  /* sets background colour to a dark grey */
  background: #121212;
  /* sets the text colour to a light grey */
  color: #ebebeb;
  /* sets the text size to 20 pixels */
  font-size: 20px;
}

/* styles the social section */
#social {
  /* sets the section to be a flexible container */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  /* sets the width to 20 pixels */
  width: 20px;
  /* sets the heigh to 20 pixels */
  height: 20px;
  /* moves the content left */
  float: left;
  /* 
    sets the margin on the top and bottom to 0,
     sets the margin on the left and right to 50% 
   */
  margin: 0 50%;
}

footer > p {
  /* moves the content to the right */
  float: right;

  /* sets the section to be a flexible container */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  /* aligns the text to be in the center of the section */
  text-align: center;
  /* sets the margin on the right to 50% */
  margin-right: 50%;
  /* sets the text size to 20 pixe;s */
  font-size: 20px;
  /* defines the font of the text */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
