* {
  margin: 0%;
  padding: 0%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#logo {
  float: left;
  width: 87px;
  height: 102.8px;
  padding: 0 0 0 5%;
}

header {
  background: #121212;
  color: #f7f7f7;
}

h1 {
  padding: 30px;
  margin-right: 6.5%;

  color: #ebebeb;

  text-align: center;
  font-size: 46px;
  font-weight: bold;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

nav > ul {
  display: flex;

  justify-content: space-between;
  width: 100%;
  background-color: #fffbdb;
}

.nav-link:link,
.nav-link:visited {
  background-color: #121212;
  color: #f7f7f7;
  text-decoration: none;

  font-size: 24px;
  text-align: center;
  display: block;
  padding: 15px 0;
  width: calc(calc(100% / 8) - 2.5px);
  margin: 2.5px 0 0 0;
  list-style-type: none;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  nav > ul {
    /*turns nav into columns once it has reached the max width*/
    flex-direction: column;
  }
  /*defines that nav-link is 100% of the screen*/
  .nav-link:visited,
  .nav-link:link {
    z-index: 0;
    width: 100%;
  }

  nav {
    position: static;
  }
}

body {
  background-color: #fffbdb;
  margin: 3px;
  color: #121212;
}

.block-effect {
  font-size: calc(8px + 6vw);
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: "";

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards,
    revealingOut var(--td) var(--t) forwards;
}

@keyframes revealBlock {
  100% {
    color: #121212;
  }
}

@keyframes revealingIn {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

footer {
  padding: 2% 10% 3% 10%;

  background: #121212;
  color: #ebebeb;
  font-size: 20px;
}

#socials {
  display: flex;
  width: 2%;
  height: 2%;
  float: left;
}

footer > p {
  float: right;
  display: flex;
  text-align: center;
  margin-right: 50%;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
